.u-margin-bottom-large {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 6rem;
}

.u-margin-bottom-small {
  margin-bottom: 4rem;
}

.u-margin-top-large {
  margin-top: 8rem;
}

.u-margin-top-medium {
  margin-top: 6rem;
}

.u-margin-top-small {
  margin-top: 4rem;
}

.u-light-text-gradient {
  background-image: linear-gradient(
    to right,
    $color-primary-blue,
    $color-light-blue-1
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.u-dark-text-gradient {
  background-image: linear-gradient(
    to right,
    $color-dark-blue-2,
    $color-light-blue-1
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.u-margin-center {
  display: flex;
  justify-content: center;
}
