.testimonial-container {
  display: flex;
  justify-content: space-between;

  @include respond(tab-land) {
    justify-content: space-around;
  }

  @include respond(tab-port) {
    display: block;
  }
}

.testimonial {
  display: flex;
  flex-direction: column;
  width: 45rem;
  flex: 0 0 30%;

  background-color: white;
  border-radius: 1rem;
  border: $color-light-grey-1 0.2rem solid;
  box-shadow: 0 1rem 2rem rgba(black, 0.2);

  @include respond(tab-port) {
    width: 100%;
  }

  &:not(:last-of-type) {
    @include respond(tab-port) {
      margin-bottom: 5rem;
    }
  }

  &__review {
    padding: 1.5rem 1.5rem 0rem 1.5rem;
  }

  &__paragraph {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }

  &__customer {
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &--photo {
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 0 0 45%;
    }
  }

  &-photo {
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
  }

  &__details {
    flex: 0 0 50%;
    border-radius: 1rem;
    background-color: white;
    border: $color-light-grey-1 0.2rem solid;
    box-shadow: 0 1rem 2rem rgba(black, 0.1);
    padding: 4rem;

    @include respond(phone) {
      padding: 2rem;
    }

    &-text {
      font-size: 1.6rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    &-product {
      font-size: 1.4rem;
      margin-bottom: 0.5rem;
      font-weight: 600;
    }

    &-date {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}

.review {
  display: flex;
  height: auto;
  width: 100%;

  @include respond(tab-port) {
    display: block;
  }

  &__image-side {
    position: relative;
    width: 50%;

    @include respond(tab-land) {
      width: 60%;
    }
    @include respond(tab-port) {
      height: 50%;
      display: block;
      overflow: hidden;
      width: 100%;
    }
  }

  &__image-container {
    background-image: linear-gradient(
      to bottom right,
      $color-light-blue-1,
      $color-light-blue-2
    );
  }

  &__image {
    opacity: 0.2;
    width: 100%;

    @include respond(tab-port) {
      width: 100vw;
    }
  }

  &__image-text {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    margin: 2rem;
    top: 10rem;
    left: 0;

    @include respond(tab-land) {
      margin: 0rem 2rem 0rem 2rem;
      top: 5rem;
    }
    @include respond(tab-port) {
      margin: 5rem 3rem 0rem 3rem;
    }

    @include respond(phone) {
      margin: 0rem 4rem;
    }
  }

  &__person {
    margin-top: 1rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    font-weight: 600;
  }

  &__text {
    color: white;
    text-transform: uppercase;
    font-size: 2.8rem;
    line-height: 5rem;
    font-weight: 300;

    @include respond(tab-land) {
      font-size: 3rem;
    }
    @include respond(tab-port) {
      font-size: 3.5rem;
      line-height: 6rem;
    }
    @include respond(phone) {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 3.2rem;
    }
  }

  // List Side

  &__list-side {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }

  &__list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include respond(tab-land) {
      margin: 1rem 2rem;
    }
    @include respond(tab-port) {
      margin: 4rem 0rem;
    }
    @include respond(phone) {
      margin: 3rem 1rem;
    }
  }

  &__list {
    @include respond(tab-port) {
      flex-wrap: wrap;
    }
  }

  &__list-item {
    list-style: none;
    display: flex;
    align-items: center;
    transition: all 0.3s;

    @include respond(tab-port) {
      flex: 0 0 50%;
    }
  }

  &__list-item:hover {
    font-size: 5rem;
    transform: scale(1.08) translateY(-0.5rem);
  }

  &__list-item:not(:last-of-type) {
    margin-bottom: 8rem;
  }

  &__list-icon {
    margin-right: 3rem;
    font-size: 4rem;
    background-image: linear-gradient(
      to right,
      $color-primary-blue,
      $color-light-blue-1
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;

    @include respond(tab-land) {
      font-size: 3.3rem;
      margin-right: 2rem;
    }
    @include respond(phone) {
      font-size: 3.5rem;
    }
  }

  &__list-text {
    font-size: 2.4rem;
    font-weight: 300;
    color: white;

    @include respond(tab-land) {
      font-size: 2.2rem;
    }
    @include respond(phone) {
      font-size: 2rem;
    }
  }
}
