$color-primary-blue: rgb(0, 140, 240);
$color-dark-blue-1: rgb(9, 0, 112);
$color-dark-blue-2: rgb(0, 94, 176);
$color-light-blue-1: rgb(0, 248, 252);
$color-light-blue-2: rgb(80, 217, 255);

$color-light-grey-1: rgb(250, 250, 250);
$color-light-grey-2: rgb(213, 213, 213);
