.hero__banner {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  background-image: linear-gradient(
    to bottom right,
    $color-primary-blue,
    $color-light-blue-1
  );

  .hero__container {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    overflow: hidden;

    background-image: linear-gradient(
        to bottom,
        rgba($color-primary-blue, 0.7),
        rgba($color-light-blue-2, 0.7)
      ),
      url("../Images/hero-image.png");

    background-size: cover;
    background-position: top;
    background-blend-mode: screen;

    width: 140rem;
    height: 56rem;

    @include respond(tab-land) {
      display: block;
      width: 100rem;
      height: 65rem;
    }

    @include respond(tab-port) {
      width: 125rem;
      height: 80rem;
    }

    @include respond(phone) {
      width: 100vw;
      height: 100vh;
    }
  }

  .hero__main-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 0 0 50%;

    @include respond(tab-port) {
      width: 100%;
    }
  }

  .primary__text {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 500;

    @include respond(tab-port) {
      width: 80%;
      margin-top: 1rem;
    }
    @include respond(phone) {
      font-size: 1.5rem;
    }
  }

  .hero__images {
    position: relative;
    flex: 0 0 50%;
    height: 56rem;

    &-phone {
      position: absolute;
      height: auto;
      width: 70%;
      bottom: -32rem;
      right: 3rem;

      z-index: 10;

      @include respond(tab-land) {
        bottom: -6rem;
        right: 15rem;
        width: 45%;
      }
      @include respond(tab-port) {
        bottom: -15rem;
        right: 28rem;
        width: 35%;
      }
      @include respond(phone) {
        bottom: -5rem;
        right: 10rem;
        width: 50%;
      }
    }

    &-laptop {
      position: absolute;
      height: auto;
      width: 70%;
      z-index: 9;
      bottom: -10rem;
      left: 3rem;

      @include respond(tab-land) {
        width: 40%;
        bottom: 16rem;
        left: 20rem;
      }
      @include respond(tab-port) {
        width: 32.5%;
        bottom: 5rem;
        left: 35rem;
      }
      @include respond(phone) {
        width: 85%;
        bottom: -6rem;
        left: -8rem;
      }
    }
  }
}
