.section-how-it-works {
  background-image: linear-gradient(
    to bottom right,
    $color-primary-blue,
    $color-light-blue-1
  );
  padding: 5rem;

  @include respond(phone) {
    padding: 1rem;
  }
}
